################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/serialMouseEmulator/v14
/Release
/__vm
